<!-- Header -->
<header class="bg-blue-600 text-white p-4 shadow-md">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold">Health Tracker</h1>
    <nav>
      <ul class="flex space-x-7">
        <li><a href="#" class="hover:underline">Home</a></li>
        <li>
          <a href="#" class="hover:underline">Workout List</a>
        </li>
        <li><a href="#" class="hover:underline">Progress</a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>

<!--Workout Form-->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-blue-500 text-white p-4 mt-32">
  <div class="max-w-7xl mx-auto text-center">
    <p>&copy; 2024 Fyle Health Tracker. All rights reserved.</p>
  </div>
</footer>
