<div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md">
  <h2 class="text-2xl font-bold mb-4">Add Workout</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700">User Name</label>
      <input
        type="text"
        name="username"
        ngModel
        required
        class="mt-1 p-2 block w-full border border-gray-300 rounded-md"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700"
        >Workout Type</label
      >
      <input
        type="text"
        name="workoutType"
        ngModel
        required
        class="mt-1 p-2 block w-full border border-gray-300 rounded-md"
      />
    </div>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700"
        >Workout Minutes</label
      >
      <input
        type="number"
        name="workoutMinutes"
        ngModel
        required
        class="mt-1 p-2 block w-full border border-gray-300 rounded-md"
      />
    </div>
    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md">
      Add Workout
    </button>
  </form>
</div>
