<!-- src/app/workout-list/workout-list.component.html -->
<div class="max-w-4xl mx-auto p-6 bg-white rounded-md shadow-md">
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 border-b">Name</th>
        <th class="py-2 border-b">Workouts</th>
        <th class="py-2 border-b">Number of Workouts</th>
        <th class="py-2 border-b">Total Workout Minutes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <td class="border px-4 py-2">{{ user.name }}</td>
        <td class="border px-4 py-2">{{ getWorkoutTypes(user) }}</td>
        <td class="border px-4 py-2">{{ user.workouts.length }}</td>
        <td class="border px-4 py-2">{{ getTotalWorkoutMinutes(user) }}</td>
      </tr>
    </tbody>
  </table>
  <div class="mt-4 flex justify-center">
    <button
      *ngFor="
        let page of [].constructor(Math.ceil(users.length / itemsPerPage));
        let i = index
      "
      (click)="goToPage(i + 1)"
      [class.bg-blue-500]="currentPage === i + 1"
      class="px-3 py-1 mx-1 border rounded-md"
    >
      {{ i + 1 }}
    </button>
  </div>
</div>
